.produtos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin: 1.5%;

}

.produto {
    background-color: white;

    border-radius: 15px;
    
    -webkit-box-shadow: 5px 5px 30px 3px rgba(0,0,0,0.43);
    -moz-box-shadow: 5px 5px 30px 3px rgba(0,0,0,0.43);
    box-shadow: 5px 5px 30px 3px rgba(0,0,0,0.43);
    
}

.produto-info {
    height: 300px;
    width: 300px;

}

.produto-info img {

    height: 70%;
    width: 100%;
    
}

.produto-nome {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #d60000;
    border-radius: 15px 15px 0px 0px;

    height: 15%;

    color: white;

}

.produto-valor {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 22px;

    height: 12.5%;
    
}

.produto-botao {
    height: 75px;
    width: 300px;

    border: none;
    border-radius: 0px 0px 10px 10px;

    background-color: #d60000;
    transition: all 0.4s;

    color: white;
    font-size:x-large;
}

.produto-botao:hover{
    background-color: #ff0000;
    transform: scale(1.025);

    cursor: pointer;
    
}

.produto-botao:active {
    background-color: rgb(159, 106, 209);

    cursor: pointer;
    
}

.search-bar {
    width: 500px;
    height: 30px;

    border-radius: 2.5px;
    border-width: 0;

    padding-inline: 2.5%;

    
}