body{
    margin: 0;
    
    background-color: #f8e5aa;
    display: flex;
    flex-wrap: wrap;
    
    font-family: 'Abel', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;

    background-color: #b71a8c;

    width: 100%;
    height: 1%;

    color: white;

    
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
    margin-inline: 5%;

    gap: 10%;
}

.logo {
    display: flex;
    align-items: center;
    
    font-size: 16;

    gap: 5%;
}

.logo img {
    height: 40px;
}

.navbar-logo-text {
    white-space: nowrap; 
}

.dropdown {

    float: left;
    overflow: hidden;
}

.dropdown a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown .dropbtn {
    font-size: 14px;
    font-weight: bold;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: rgb(165, 0, 115);
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(209, 0, 157);
}

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.title{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #f8e5aa;
}

.background-reference{
    display: flex;
    width: 100%;
    justify-content: center;

}

.card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 5%;
    margin-top: 30px;
    width: 70%;
    height: 100%;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.products{
    width: 70%;
    height: 100px;
    background-color: brown;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-space{
    height: 100%;
    width: 30%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.product-name{
    width: 30%;
    padding: 5%;
}

.price{
    padding: 5%;
}

.remove{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center
}

.img-remove{
    width: 100%;
    height: auto;
    
    
}

.img-product{
    width: auto;
    height: 100%;
}

.finish{
    display: flex;
    align-content: center;
    width: 30%;
    height: 70px;
    background-color: green;
    transition-duration: 0.45s;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.finish:hover{
    background-color: #4CAF50; /* Green */
    color: white;
    cursor:grab;
    cursor: pointer;
}

@media (max-width:600px){

.card{
    width: 100%;
}

.products{
    width: 100%;
}

}
