/*CSS DOS ELEMENTOS QUE ESTAO NO HTML */

.containers {
    width: 100%;
    height: 1000px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-esquerda{
    width: 800px;
    height: 500px;
}

.container-direita{
    width: 500px;
    height: 500px;
}

.container-esquerda-card {
    width: 100%;
    height: 100%;

    border: solid 2px #222222;
    border-radius: 15px;
    background-color: #db46b4;

    display: flex;
    flex-direction: column;
}

#tipo-pagamento{
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.metodo-pagamento{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: xx-large;
    color: white;
}

.botoes{
    width: 100%;
    height: 20%;


    display: flex;
    align-items:center;
    justify-content: space-around;
}

.botao-opcoes-pagamento{
    width: 120px;
    height: 40px;

    background-color: blueviolet;
    border:none;
    border-radius: 10px;
    margin-top: 10px;

    font-size:large;
    color: white;

    transition: all 0.4s;
}

.botao-opcoes-pagamento:hover{
    transform: scale(1.05);

    background-color: rgb(127, 27, 221);
    cursor: pointer;
}


.container-direita-card{
    width:100%;
    height:100%;

    border: solid 2px #222222;
    border-radius: 15px;
    background-color: #db46b4;

    display: flex;
    flex-direction: column;
}

#pagamento-total{
    width: 100%;
    height: 80%;


    display: flex;
    justify-content: center;
    align-items:center;
}

.espaco-pagamento {
    width: 90%;
    height: 90%;

    border: solid 3px #222222;
    border-radius: 10px;

}
.espaco-produtos {
    width: 100%;
    height: 75%;

    display: flex;
    flex-direction: column;

    background-color: aliceblue;

    overflow-y:scroll;
    overflow-x: scroll;
    scrollbar-width: 5px;
    scroll-margin-block: 10px 50px;

    border-radius: 10px 10px 0px 0px;
}

.espaco-produtos::-webkit-scrollbar {
    display: none;
}

.produtos{
    width: 100%;
    height: 20%;

    border: solid 1px #222222;
    
}

.produto-cima{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 5px;

}

.produto-nome{
    font-size: x-large;
    color: black;

}
.produto-preco {
    font-size: x-large;
    color: black;
    text-decoration: dashed;
    margin-right: 10px;
}

.produto-baixo{
    font-size: large;
    color: black;

    margin-left: 15px;
}


.preco-total {
    width: 100%;
    height: 25%;

    background-color: #9b307e;

    display: flex;
    align-items: center;
    justify-content:right;

    border-radius: 0px 0px 10px 10px;
    
}
.preco-total-text{
    display: flex;

    font-size: xx-large;
    color: white;

    text-decoration: underline;

    margin-right: 30px;

    transition: all 0.4s;
}

.preco-total-text:hover {
    transform: scale(1.05);
    color: rgb(240, 231, 231);
    cursor:default;
}

.botao-finalizar{
    width:100%;
    height: 20%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-finalizar-button {
    width: 50%;
    height: 70%;

    border: none;
    border-radius: 10px;

    background-color: blueviolet;
    transition: all 0.4s;

    color: white;
    font-size:x-large;
}

.botao-finalizar-button:hover{
    background-color: rgb(127, 27, 221);
    transform: scale(1.05);

    cursor: pointer;
    
}

/*A PARTIR DAQUI SAO CSS DE TEMPLATE STRINGS */

.titulo-pagamento {
    font-size: x-large;
    text-align: center;
}


.container {
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap:wrap ;

}

.label {
    width: 40%;
    height: 25%;
    display: flex;
    flex-direction: column;

    font-size:x-large;
    color: white;

    position: relative;
}

.label i {
    position: absolute;
    top: 38px;
    right: 0px;
    color: rgb(30,48,80);
}

.input {
    width: 100%;
    height: 45%;

    margin-top: 5px;

    border: solid 1px #222222;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
}

.verificacao-card {
    width: 100%;
    height: 80%;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.verificacao-titulo {
    font-size: 30px;
    text-align: center;
}

.verificacao-baixo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 20px;
}
.verificacao-select {
    width: 150px;
    height: 40px;

    border: solid 1px #222222;
    border-radius: 10px;
    outline: none;
}

.verificacao-botao {
    width: 120px;
    height: 40px;

    background-color: blueviolet;
    border:none;
    border-radius: 10px;
    margin-top: 20px;

    transition: all 0.4s;
    font-size: large;
    color: white;
}
.verificacao-botao:hover {
    transform: scale(1.05);
    background-color: rgb(127, 27, 221);
    cursor: pointer;
}

.pix-titulo-container{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.pix-titulo{
    height: 100%;
    text-align: center;
    font-size: xx-large;
    color: white;
    
}

.pix-imagem-container{
    width: 100%;
    height: 85%;

    display: flex;
    align-items: center;
    justify-content: center;


}
.pix-imagem {
    width: 30%;
    height: 80%;
}

.finalizado-card{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.finalizado-titulo {
    width: 100%;
    height: 30%;
    font-size: 40px;
    color: white;

    display:flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}
.finalizado-baixo {
    width: 100%;
    height: 70%;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.finalizado-botao {
    width: 50%;
    height: 40%;

    border: none;
    border-radius: 10px;
    background-color: blueviolet;
    transition: all 0.4s;
    color: white;
    font-size:x-large;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.finalizado-botao:hover{
    background-color: rgb(127, 27, 221);
    transform: scale(1.05);
}

@media screen and (max-width: 1350px){
    .container-esquerda{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .container-direita{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 850px) {
    .containers {
        display: flex;
        justify-content: center;


        width: 850px;
        height: 1500px;
    }
    .container-direita{
        width: 500px;
        height: 600px;
    }
    .container-esquerda{
        width: 600px;
        height: 700px;
    }
    .pix-imagem {
        width: 50%;
        height: 60%;
        margin: 30px;
    }
    .label i {
        top: 48px;
        right: 5px;
    }
    
}
@media screen and (max-width:650px) {
    .container-esquerda{
        width: 375px;
        height: 900px;
    }
    .container-direita{
        width: 325px;
    }
    .botoes {
        display: flex;
        flex-direction: column;
    }
    .botao-opcoes-pagamento{
        width: 180px;
        height: 40px;

        font-size: x-large;
    }
    .container{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
    }
    .label {
        width: 90%;
        height:25%;
        font-size: x-large;
    }
    .label i{
        top:39px;
        right: 0;
    }
    .pix-imagem{
        width: 70%;
        height: 70%;
    }
}

@media screen and (max-width: 450px){
    .containers {
        width: 100%;
        height: 100%;
        
    }
    .container-esquerda{
        width: 375px; 
        height: 900px;
    }
    .container-direita{
        width: 325px;
    }
    .label {
        width: 80%;
        height:25%;
        font-size: x-large;
    }

    .finalizado-botao{
        width: 70%;
    }
    .pix-imagem{
        width: 70%;
        height: 60%;
    }
}