.produtos {
    display: flex;
    justify-content: center;


    padding-inline: 1%;
    margin: 2.5%;

}

.produto {
    background-color: white;

    border-radius: 15px;
    
    -webkit-box-shadow: 5px 5px 30px 3px rgba(0,0,0,0.43);
    -moz-box-shadow: 5px 5px 30px 3px rgba(0,0,0,0.43);
    box-shadow: 5px 5px 30px 3px rgba(0,0,0,0.43);
    
}

.produto-info {
    height: 300px;
    width: 300px;

}

.produto-info img {

    height: 70%;
    width: 100%;
    
}

.produto-nome {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 15%;

    color: black;

}

.produto-valor {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 12.5%;
    
}

.produto-botao {
    color: white;
    font-size: 20px;
    font-weight: bold;

    border-end-end-radius: 15px;
    border-end-start-radius: 15px;

    background-color: #b71a8c;

    height: 75px;
    width: 300px;
    
}